// amira

// reset
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

ul {
    margin-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    border: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 5rem;
    max-width: 1500px;
}

:root {
    // colors
    --black: #1D1D1D;
    --perpel: #4D2C5E;
    --praimary-black: #050C26;
    --orenge: #FF7426;
    --gray: #8A8A8A;
    --dark-blue: #0F335E;

    // fonts
    font-size: 18px;
}

.row {
    display: flex;
}

.col-lg-4,
.col-md-6,
.col-sm-12 {
    width: calc(100% / 12 * 4);
    padding-left: 1rem;
    padding-right: 1rem;
}

.col-md-6 {
    width: calc(100% / 12 * 6);
}

.col-sm-12 {
    width: calc(100% / 12 * 12);
}

@mixin flex-center ($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

// reset

// header
header {
    padding: 3rem 0;
    background: #FDF8EE;
}

header {

    .container,
    .nav-ul-bar,
    .li-hdr {
        @include flex-center(space-between, center, row);
    }

    .nav-ul-bar {
        gap: 2rem;
    }

    .responsive-icon {
        display: none
    }

    .nav-ul-bar {

        .li-hdr {

            a {
                color: var(--black);
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }

        .li-hdr {
            gap: 1.5rem;
        }

        .btn-signin {
            color: #FFF;
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border-radius: 13.625rem;
            background: #4D2C5E;
            padding: 1rem 2rem;
        }
    }
}

// hero-section
.hero-sec {
    padding: 5rem 0;
    background: #FDF8EE;
    background-image: url(../img/hero-bg.png.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    z-index: 1;
    padding-bottom: 15rem;
}

.hero-sec {
    .flex-btw {
        @include flex-center(space-between, center, row);
        gap: 3rem;
    }

    .flex-btw {
        .photo {
            width: 50%;
        }

        .photo img {
            width: 100%;
        }
    }

    .h2-smart,
    .de-color {
        color: var(--praimary-black);
        font-size: 3.3125rem;
        font-style: normal;
        font-weight: 800;
        line-height: 135%;
    }

    .de-color {
        color: var(--orenge);
    }

    .p-featurs {
        color: var(--gray);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 171%;
    }

    .flex-search {
        @include flex-center(space-between, center, row);
        border-radius: 6rem;
        background: #FFF;
        margin-top: 2rem;
        padding: 0.5rem;
    }

    .flex-search {
        div {
            @include flex-center;
            gap: 0.4rem;
        }

        .btn-search {
            color: var(--dark-blue);
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .a-cont {
            border-radius: 6rem;
            background: var(--perpel);
            padding: 1rem 2rem;
            color: #FFF;
            font-size: 1.5625rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }
}

// section-2
.sec-position {
    border-radius: 0.875rem;
    background: var(--perpel);
    padding: 2rem 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateY(-100%);
    transform: translatex(-50%);
    z-index: 2;

}

.sec-position {
    .row {
        @include flex-center(space-between, stretch, row)
    }

    .flex-item {
        @include flex-center(center, start, row);
        gap: 0.8rem;
    }

    .flex-item {
        img {
            border-radius: 1.4375rem;
            background: rgba(255, 255, 255, 0.20);
            padding: 1rem;
        }
    }

    .h6-item {
        color: #FFF;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .p-item {
        color: rgba(255, 255, 255, 0.60);
        font-size: 0.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
        flex-shrink: 0;
    }
}

// responsive

// amira

// mediam-screen
@media screen and (max-width: 1023px) {
    header {
        .li-hdr {
            display: none;
        }

        .responsive-icon {
            display: block;
        }
    }

    .flex-btw {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .row {
        flex-wrap: wrap;
    }

    .flex-item {
        display: flex;
        flex-direction: column;
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }
}

// small-screen
@media screen and (max-width: 767px) {
    .col-sm-12 {
        width: calc(100% / 12 * 12);
    }
}